.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 800px;
    margin: auto;
    font-family: arial;
    justify-content: center;
    display: flex;
}
table {
    width: 800px;
}
td {
    padding: 8px;
    text-align: left;
}
th {
    font-size: large;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}
.button {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 800px;
    margin: auto;
    align-items: flex-start;
    display: flex;
}
